<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org"
	th:fragment="Layout(content)">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'
	rel='stylesheet'>
<link rel="stylesheet" th:href="@{/css/style.css}" />
<title th:text="${title}"></title>
</head>
<body>



	<!-- Content area 
	<div class="sidebar">
	
	 <span onclick="toggleSidebar()" class="crossBtn">&times</span>

		<a href="" th:href="@{/user/index}" class="item"> Home</a> 
		<a href="" class="item"> View Contacts</a> 
		<a href="" th:href="@{/user/add_contact_form}" class="item">Add Contact</a> 
		<a href="" class="item">Your Profile</a> 
		<a href="" class="item">Settings</a> 
		<a href="" th:href="@{/logout}" class="item">Logout</a>
		<div class="divider"></div>
	</div> -->

	<div class="sidebar">
		<div class="logo_content">
			<div class="logo">
				<div class="logo_name" th:text="${user.name}"></div>
			</div>

		</div>

		<div class="unordered_list">

			<a href="#" th:href="@{/user/index}"><i class='bx bx-home-alt'
				style='color: #2F4F4F' id="icon_menu"></i><span class="links_name">Home</span>
			</a> 
			<a href="#" th:href="@{/user/show_contacts/0}"><i class='bx bxs-contact' style='color: #2F4F4F'
				id="icon_menu"></i> <span class="links_name">Contacts</span> </a> 
				<a
				href="#" th:href="@{/user/add_contact_form}"><i
				class='bx bxs-add-to-queue' style='color: #2F4F4F' id="icon_menu"></i><span
				class="links_name">Add Contact</span> </a> 
				<a href="#"><i
				class='bx bxs-face' style='color: #2F4F4F' id="icon_menu"></i> <span
				class="links_name">Your Profile</span> </a> 
				<a href="#"><i
				class='bx bx-cog' style='color: #2F4F4F' id="icon_menu"></i><span
				class="links_name">Settings</span> </a> 
				<a href="#" th:href="@{/logout}"><i
				class='bx bx-log-out-circle' style='color: #2F4F4F' id="icon_menu"></i><span
				class="links_name">Logout</span> </a>

		</div>

	</div>


	<div class="content">
		<div th:if="${session.message}" class="container">
			<div th:classappend="${'alert-'+session.message.type}"
				class="alert ml-5 mr-5 mt-3 text-center" role="alert">
				<span th:text="${session.message.content}"></span>
			</div>
			<th:block th:text="${#session.removeAttribute('message')}"></th:block>
		</div>
		<div th:replace="${content}"></div>


	</div>



	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script th:src="@{/js/script.js}"></script>
</body>
</html>