<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" 
th:replace="normal/base::Layout(~{::section})">
<head >
<meta charset="ISO-8859-1">
<title th:value="${title}"></title>
</head>
<body>

<section>
<div class="container text-center">
<img  alt="Responsive image" id="dashboard_image" src="../image/purr.png">

<h3> <span>Save your Contact </span> </h3>
<h4> <span>You don't have to remember</span> </h4>
<a th:href="@{/user/add_contact_form}" type="button" class="btn btn-warning btn-lg mt-3">Save Here</a>
</div>
</section>

</body>
</html>