<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="" th:href="@{/css/style.css}" />
</head>
<body>
<img th:src="@{/image/footer-illustration.webp}" class="img-fluid" alt="...">
	<div class="container text-center">
		<p>Github Illustration</p>
	</div>
	<script src="" th:src="@{/js/file.js}"></script>
</body>
</html>